body { 
  background             : #000;
  background             : #b34700;
  font-family            : tahoma, arial, helvetica, sans-serif;
  font-size              : 0.8em;
  color                  : #fff;
  text-align             : center;
}

h1, h2, h3 {
  font-size              : 2.4em;
  font-weight            : bold;
  color                  : #fff;
  white-space            : normal;
  letter-spacing         : 0.6em;
  text-transform         : uppercase;
  text-align             : center;
  padding-bottom         : 0.5em;
  border-bottom          : 1px solid #fff;
  padding                : 10px 0;
  margin                 : 10px 0;
}

h1 span {
  color                  : #ff6600;
}

h2, h3 {
  font-size              : 1.6em;
  color                  : #666666;
  font-weight            : normal;
  white-space            : normal;
  letter-spacing         : normal;
  text-align             : left;
  padding                : 0;
  margin                 : 0;
  border-bottom          : none;
}

#resources h3 {
  font-size              : 1.4em;
  background-repeat      : no-repeat;
  background-position    : 0 center;
  background-color       : #000;
  letter-spacing         : 0.3em;
  letter-spacing         : normal;
  padding                : 4px 0 8px 0;
}

#resources h3 a {
  color                  : #fff;
  color                  : #ff6600;
  padding-left           : 36px;
  text-decoration        : none;
}

#resources h3 a:hover {
  color                  : #ff6600;
  color                  : #fff;
}

#resources h3#email {
  background-image       : url(/i/28px-Email.png);
}

#resources h3#facebook {
  background-image       : url(/i/28px-Facebook2.png);
}

#resources h3#feed {
  background-image       : url(/i/28px-RSS.png);
}

#resources h3#lastfm {
  background-image       : url(/i/28px-Lastfm.png);
}

#resources h3#myspace {
  background-image       : url(/i/28px-Myspace.png);
}

#resources h3#twitter {
  background-image       : url(/i/28px-Twitter.png);
}

a {
  font-size              : 1.0em;
  color                  : #ff6600;
  text-decoration        : none;
}

a:hover {
  color                  : #666666;
  text-decoration        : underline;
}

ul {
  list-style             : none;
  margin                 : 0;
  padding                : 0;
}

#wrapper {
  background             : #000;
  width                  : 760px;
  border                 : 1px solid #fff;
  border                 : 1px solid #999;
  padding                : 0 20px 10px 20px;
  margin                 : 20px auto 10px auto;
  text-align             : left;
}

ul#navigation li {
  float                  : left;
}

ul#navigation li a {
  display                : block;
  margin                 : 0 18px 0 0;
  font-size              : 1.8em;
  color                  : #fff;
  text-decoration        : none;
  text-transform         : uppercase;
  border-bottom          : 2px solid transparent;
  border-top             : 2px solid transparent;
}

ul#navigation li a.current {
  color                  : #ff6600;
}

ul#navigation li a:hover {
  color                  : #ff6600;
  border-bottom          : 2px solid #ff6600;
  border-top             : 2px solid #ff6600;
}

#content {
  clear                  : both;
  padding                : 38px 0 0 0;
}

#posts {
  float                  : left;
  width                  : 490px;
}

#resources {
  float                  : left;
  margin                 : 0 0 0 20px;
}

#resources #twitter_feed {
  margin                 : 40px 0 0 0;
}

#footer {
  clear                  : both;
}

#footer #copy {
  float                  : right;
  letter-spacing         : 0.2em;
}

#footer #copy span {
  color                  : #ff6600;
}

.post {
  clear                  : left;
  padding                : 0 0 20px 0;
  border-bottom          : 1px dotted #666666;
  margin                 : 0 auto 30px auto;
}

.post_content {
}

.post_content p {
  margin                 : 4px 0;
}

.post_content ul {
  margin                 : 16px 0;
}

p.flyer {
  margin                 : 0 auto;
  padding                : 10px;
  text-align             : center;
}

p.flyer img {
  border                 : 2px solid #fff;
  width                  : 300px;
}

#resources p.flyer {
  margin                 : 30px 0 0 0;
  padding                : 0;
  text-align             : left;
}

#resources p.flyer img {
  border                 : 1px solid #fff;
  width                  : 248px;
}

.center {
  text-align             : center;
  margin                 : 0 auto;
}

.strong {
  font-weight            : bold;
}

